---
users:
  admin:
    disabled: false
    displayname: "Administrator"
    password: "$argon2id$v=19$m=65536,t=3,p=4$VxgzG+X2m6vYgac6GomA8w$3ZMsppocOs22Ut6Kw3iXThX9HVCIKCya9tK31TXlERM"
    email: ${EMAIL}
    groups:
      - admins
      - dev
