# --- General Settings ---
DOMAIN=""
EMAIL=""
SHARED_NETWORK=""

# --- Postgres Admin (Master credentials for init-db.sh) ---
POSTGRES_USER=""
POSTGRES_PASSWORD=""

# --- Gitea Database Credentials ---
GITEA_DB_NAME=""
GITEA_DB_USER=""
GITEA_DB_PASS=""

# --- Paperless-ngx Credentials ---
PAPERLESS_DB_NAME=""
PAPERLESS_DB_USER=""
PAPERLESS_DB_PASS=""
PAPERLESS_SECRET_KEY=""

# --- Synapse Credentials ---
SYNAPSE_DB_NAME=""
SYNAPSE_DB_USER=""
SYNAPSE_DB_PASS=""
SYNAPSE_REGISTRATION_SHARED_SECRET=""

# --- Navidrome Settings ---
NAVIDROME_MUSIC_FOLDER_PATH=""