services:
  navidrome:
    image: navidrome/navidrome:latest
    container_name: navidrome
    restart: always
    ports:
      - "4533:4533"
    environment:
      ND_SCANSUBDIR: "/music"
    volumes:
      - ${NAVIDROME_MUSIC_FOLDER_PATH}:/music:ro
      - ../data/navidrome:/data
    networks:
      - homelab_net

networks:
  homelab_net:
    external: true