services:
  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    user: 1000:1000
    restart: always
    environment:
      ND_MUSICFOLDER: /music
      ND_BASEURL: ""
      ND_PORT: 4533
    volumes:
      - ../data/navidrome:/data
      - ${NAVIDROME_MUSIC_FOLDER_PATH}:/music:ro
    networks:
      - ${SHARED_NETWORK}

networks:
  ${SHARED_NETWORK}:
    external: true