services:
  shared_postgres:
    image: postgres:15
    container_name: shared_postgres
    user: ${HOST_UID}:${HOST_GID}
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"  # for external access
    volumes:
      - ./postgres:/var/lib/postgresql/data
    networks:
      - ${SHARED_NETWORK}

networks:
  ${SHARED_NETWORK}:
    external: true
